[submodule "server"]
	path = server
	url = https://github.com/educaware/camera-server.git
	branch = main
[submodule "bot"]
	path = bot
	url = https://github.com/educaware/camera-bot.git
	branch = main
[submodule "client"]
	path = client
	url = https://github.com/educaware/camera-client.git
	branch = main
